body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'ma police', sans-serif;
}

form {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
	display: flex;
	width: 100%;
    
}
img {
	display: flex;
    margin-top: 20px; 
	width: 450px;
    text-align:center;
	margin-bottom: 10px;


}

#image_entete{
	display: flex;
    margin-top: 20px; 
	width: 70%;
    text-align:center;
	margin-bottom: 10px;
}

#Image_sun {
	display: flex;
    margin-top: 20px; 
	width: 80%;
    text-align:center;
	margin-bottom: 10px;
}


#Image_moon {
	display: flex;
    margin-top: 20px; 
	width: 70%;
    text-align:center;
	margin-bottom: 10px;
}

#Image_ocean {
	display: flex;
    margin-top: 20px; 
	width: 70%;
    text-align:center;
	margin-bottom: 10px;
}
input[type="text"] {
    margin: 0 10px;
    padding: 10px;
    font-size: 1.5em;
	text-align:center;
}
#date {
	width: 90%;
    padding: 10px;
    font-size: 2em;
	border:0px;
	text-align:center;
    color: gray;
    margin-bottom: 20px; /* Ajouter un espace de 20px en dessous du bouton */
	
}

#submit-button {
	width: 100%;
    padding: 10px;
    font-size: 2em;
	text-align:center;
    background-color: gray;
    color: white;
    margin-bottom: 20px; /* Ajouter un espace de 20px en dessous du bouton */
}


}
body {
  background-color: black;
  text-align: center;
}
#logo-container {
  margin-top: 50px;
}
#Coordonnes {
  margin-top: 50px;
  color: white;
}
input, button {
  margin-top: 20px;
}

table {
	width: 100%;
    padding: 10px;
    font-size: 2em;
	border:0px;
	text-align:left;
    color: gray;
    margin-bottom: 20px; /* Ajouter un espace de 20px en dessous du bouton */
    margin-top: 20px;
}

#col_image {
	width: 25%;
}

#col_text {
	width: 25%;
	text-align:left;
}

table.col_3 {
	text-align:right;
}
#col_4 {
	text-align:right;
}
#col_5 {
	text-align:left;
}






